<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- google fonts -->
    <link href="https://fonts.cdnfonts.com/css/gill-sans" rel="stylesheet" />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <title>Pepcorns Sign Up</title>
    <style>
      body {
        background-color: #f5f5f5;
        padding: 0;
        margin: 0 15rem;
      }
      .l-grey1 {
        color: #cdcdcd;
      }
      .l-grey2 {
        color: #a7a7a7;
      }
      .l-grey3 {
        color: #818181;
      }
      .l-grey4 {
        color: #5e5e5e;
      }
      .text-center {
        align-items: center;
        text-align: center;
      }
      .flex-center {
        display: flex;
        justify-content: center;
      }
      .f-style {
        font-family: "Gill Sans", sans-serif;
      }
      .row {
        display: grid;
        grid-template-columns: auto auto auto;
      }
      .btn-primary {
        padding: 2% 13%;
        color: #fff;
        background-color: #2f2fd4;
        margin: 20px 0 20px 0;
        border: #2f2fd4;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;

        cursor: pointer;
      }
      .btn-secondary {
        padding: 2% 13%;
        color: #2f2fd4;
        background-color: #ffffff;
        margin: 20px 0 20px 0;
        border: 1px solid #2f2fd4;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        cursor: pointer;
      }

      .maindiv {
        background-color: #fff;
        padding: 2% 6%;
      }
      .logo-img {
        width: 8rem;
      }
      .body-img {
        width: 30%;
        height: 30%;
      }

      .about-img {
        width: 100%;
        max-height: 40vh;
        min-height: 40vh;
      }

      .footer-links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 20px 0 20px 0;
      }
      .footer-links a {
        margin: 0 2% 0 2%;
        text-decoration: none;
      }
      .footer-links a:hover,
      i:hover {
        color: rgb(20, 24, 149);
      }
      .footer-links a i {
        font-size: 1.5rem;
      }

      @media only screen and (max-device-width: 480px),
        only screen and (max-width: 480px) {
        .logo-img {
          width: 5rem;
        }
        body {
          margin: 0 1rem;
        }
        .body-img {
          width: 100%;
          max-height: 40vh;
          min-height: 40vh;
        }
        .row {
          display: grid;
          grid-template-columns: auto;
        }
      }
    </style>
    <div class="maindiv">
      <div class="text-center" style="max-height: 10vh; margin: 3vh 0 5vh 0">
        <div>
          <img class="logo-img" src="/static/images/logo.png" alt="logo" />
        </div>
      </div>
      <div class="text-center">
        <h1
          style="
            margin: 0;
            padding: 0;
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 38px;
          "
        >
          <%= data.fullname %>
        </h1>
        <h2
          class="f-style"
          style="
            margin: 8px 0;
            padding: 0;

            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
          "
        >
          Welcome to Pepcorns!
        </h2>
        <img class="body-img" src="/static/images/signup.jpg" alt="Welcome" />
        <h2
          class="l-grey4 f-style"
          style="
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
          "
        >
          We Created an account for you, please confirm your email address<br />
          and use our services to the maximum.
        </h2>
        <a href="<%= data.link %>"
          ><button class="btn-primary f-style">Verify your email</button></a
        >
        <p
          class="l-grey3 f-style"
          style="
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.5px;
          "
        >
          Can't click the button about? Copy and pase this link into your
          browser
        </p>

        <div class="content-center">
          <p style="word-wrap: break-word; cursor: pointer">
            <a href="<%= data.link %>"> <%= data.link %> </a>
          </p>
          <p
            class="l-grey1"
            style="font-weight: 400; letter-spacing: 0.5px; margin: 10px 0 5% 0"
          >
            Ignore this mail, if you didn't sign up to Pepcorns. It's likely
            someone else accidentally entered your address or made a typo.
          </p>
        </div>
      </div>
      <hr />
      <div class="text-center">
        <h1 style="margin: 8% 0 3% 0" class="l-grey4">About Pepcorns</h1>
        <div class="row">
          <div class="text-center">
            <img
              class="about-img"
              src="/static/images/signup1.jpg"
              alt="logo"
            />
            <h3>Free For Investory</h3>
            <p class="l-grey3">
              We Charge no hidden fees for investing and provide top service
            </p>
          </div>
          <div class="text-center">
            <img
              class="about-img"
              src="/static/images/signup2.jpg"
              alt="logo"
            />
            <h3>Vetted Startups</h3>
            <p class="l-grey3">
              The startup need to successfully pass our comprehensive due
              diligence process
            </p>
          </div>
          <div class="text-center">
            <img
              class="about-img"
              src="/static/images/signup3.jpg"
              alt="logo"
            />
            <h3>Earn Rewards</h3>
            <p class="l-grey3">Everytime you invest you earn rewards in kind</p>
          </div>
        </div>
        <a href="<%= data.link %>"
          ><button class="btn-primary f-style">Verify your email</button></a
        >

        <h2
          class="f-style"
          style="
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
          "
        >
          Want to learn more about startups?
        </h2>
        <p class="l-grey3" style="font-weight: 500; letter-spacing: 0.5px">
          If you've never invested in startups before, check our knowledge base.
          Investing in private companies is very different than the stock
          market.
        </p>
        <a href="https://pepcorns.com/#!/knowledgebase/company"
          ><button class="btn-secondary f-style">Read Now</button></a
        >
      </div>
      <hr />
      <div class="text-center" style="margin-top: 5%">
        <div class="flex-center">
          <img class="logo-img" src="/static/images/logo.png" alt="logo" />
        </div>
        <div class="footer-links l-grey1">
          <a href="https://pepcorns.com/#!/about"> About Us</a> |
          <a href="https://pepcorns.com/#!knowledgebase/faq"> FAQ </a>|
          <a href="https://blog.pepcorns.com/"> Blog </a>
        </div>
        <div class="footer-links">
          <a href="https://www.facebook.com/Pepcorns/"
            ><i class="fa-brands fa-facebook l-grey4"></i
          ></a>
          <a href="https://www.instagram.com/pepcornshq/"
            ><i class="fa-brands fa-instagram l-grey4"></i
          ></a>
          <a href="https://twitter.com/pepcorns"
            ><i class="fa-brands fa-twitter l-grey4"></i
          ></a>
          <a href="https://www.linkedin.com/company/pepcorns"
            ><i class="fa-brands fa-linkedin l-grey4"></i
          ></a>
        </div>
        <p
          class="l-grey2 f-style"
          style="
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 106%;
          "
        >
          This email and any files transmitted with it are confidential and
          intended solely for the use of the individual or entity to whom they
          are addressed; they do not constitut legal or investment advice.
          Please notify the sender immediately if you have received this e-mail
          by mistake, then delete it. Pepcorns is a fundraising platform owned
          and operated by PEPCORNS LLP. Pepcorns is NOT a stock exchange
          recognized by the Securrities Exchange Board of India (SEBI) under the
          Securities Contract (Regulation) Act, 1956. The securities offered by
          any company registered on `<a
            class="l-grey3"
            href="https://pepcorns.com"
            >pepcorns.com</a
          >` ("Platform") are not traded on any stock exchange recognized by
          SEBI. Pepcorns does not allow any secondary market trading of
          securities on the Platform.
        </p>
        <h5 class="l-grey1 f-style">Pepcorns - Nagarbhavi, Bangalore-560072</h5>

        <a class="l-grey3 f-style" style="font-size: 12px" href="#"
          >Unsubscribe</a
        >
      </div>
    </div>
  </body>
</html>
